<!DOCTYPE html>
<html>
    <head>
      <title>Pirate</title>
    </head>
    <body>
      <h1>Your new pirate</h1>

      <h2>Pirate Name: <%= @pirate.name %></h2>
      <h3>Pirate Height: <%= @pirate.height %></h3>
      <h3>Pirate Weight: <%= @pirate.weight %></h3>
      <br>
      <h2>First ship</h2>
      <h3>Ship Name: <%= @ships[0].name %></h3>
      <h4>Ship Type: <%= @ships[0].type %></h4>
      <h4>Ship Booty: <%= @ships[0].booty %></h4>
      <br>
      <h2>Second ship</h2>
      <h3>Ship Name: <%= @ships[1].name %></h3>
      <h4>Ship Type: <%= @ships[1].type %></h4>
      <h4>Ship Booty: <%= @ships[1].booty %></h4>

    </body>
</html
